<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.miage.teambuilder">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teambuilder">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.signIn.SignInScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signIn.SignUpScreen"
            android:exported="true">
        </activity>
        <activity
            android:name="fr.miage.teambuilder.ui.user.SettingsScreen"
            android:exported="true">
        </activity>

        <activity
            android:name="fr.miage.teambuilder.ui.login.LoginScreen"
            android:exported="true">
        </activity>

        <activity
            android:name="fr.miage.teambuilder.ui.login.SignUpScreen"
            android:exported="true">
        </activity>

        <activity
            android:name="fr.miage.teambuilder.ui.home.HomeScreen"
            android:exported="true">
        </activity>

        <activity
            android:name="fr.miage.teambuilder.ui.sportif.SportifProfilScreen"
            android:exported="true">
        </activity>
    </application>
</manifest>